@import '../../../styles/variables';

.Header {
  background: transparent;
  width: 100%;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
  &__Container {
    width: 100%; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--Brand {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      height: auto;
      position: relative;
      margin-left: 25px;
      img { height: 80px; margin-right: 10px; }
      .BrandName {
        font-size: 21px;
        color: $primary;
        font-weight: 900;
        margin-top: -10px;
      }
    }
  }
}