@import '../../../styles/variables';

.Header {
  background: white;
  width: 100%;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #efefef;
  &__Container {
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--Brand {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
    }
  }
}