@import url('https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,700,900');

$base-font: 'Rubik', sans-serif;

// Color Palette
$od-primary: rgba(38,28,70,1);
$od-yellow: rgba(244,230,89,1);
$od-light-purple: rgba(93,63,152,1);
$od-green: rgba(191,222,189,1);

//Media Queries
$tablet: 768px;
$phone: 420px;
