@import 'variables';

// Layout
.Layout {
  position: relative;
}

// Typography

body {
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $primary;
  font-weight: 900;
}

h1 {
  font-size: 69px;
}
h2 {
  font-size: 69px;
}
h3 {
  font-size: 44px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 21px;
}

p {
  font-family: $base-font;
  color: rgba(0, 0, 0, 0.7);
}

// Links & Buttons

a {
  font-family: $heading-font;
  color: $secondary;
}

button,
a.button {
  // normalize
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;

  // underline
  background-image: linear-gradient(to right, #220f25 50%, transparent 50%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 6px 3px;

  // style
  color: $primary;
  padding: 0px;
  margin: 0px;
  font-weight: 900;
  position: relative;
  &:hover {
    cursor: pointer;
    pointer-events: all;
  }
  &:after {
    content: '';
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $yellow;
    display: block;
    position: absolute;
    right: -30px;
    top: -12px;
    z-index: -1;
    transition: all 0.15s linear;
    pointer-events: all;
  }
  &:hover:after {
    content: '';
    text-align: center;
    scale: 1.5;
    border-radius: 50%;
    background-color: $yellow;
    display: block;
    position: absolute;
    right: -30px;
    top: -12px;
    z-index: -1;
    pointer-events: all;
  }
}

@keyframes animateButton {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

// Blocks

.Block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 75px 0px;
  &__Contents {
    width: 100%;
  }
  p {
    font-size: 1.35em;
    line-height: 1.5em;
  }
}

// Grid

.Grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__Column {
    flex-direction: column;
    &--33 {
      flex-basis: calc(100% / 3);
      @media (max-width: $grid) {
        flex-basis: 100%;
      }
    }
    &--50 {
      flex-basis: calc(100% / 2);
      @media (max-width: $grid) {
        flex-basis: 100%;
      }
    }
  }
  &__Row {
    flex-direction: row;
    flex-basis: 100%;
  }
}

// Utils

.Contain {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: $grid) {
    padding: 0px 25px;
  }
}

.Circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $yellow;
  position: absolute;
}

// Forms
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: $tablet) {
    flex-direction: column;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
    button {
      margin-top: 50px;
    }
  }
}
input {
  background-color: white;
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  + label {
    color: hsl(0, 0%, 46%);
  }
}

.formGroup {
  width: 30%;
}

.Result {
  display: block;
  clear: both;
  flex-basis: 100%;
  padding-top: 15px;
  output {
    font-size: 1rem;
    color: $formerror;
  }
}
