@import 'variables';

.Hero {
    width: 100%;
    position: relative;
    min-height: 80vh;
    margin-top: -120px;
    height: auto;
    padding: 0;
    @media (max-width: $grid){
        margin-top: 0px;
    }
    .Image {
        position: absolute;
        z-index: 0;
        width: 75%;
        height: 75%;
        top: 0;
        left:0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.35;
        @media (max-width: $grid){
            background-size: cover;
            width: 100%;
            height: 50%;
        }
    }
    &__Contents {
        position: relative;
        width: 100%;
        height: auto;
        .Text--A {
            position: absolute;
            max-width: 720px;
            top: 50%;
            transform: translate(25%, 25%);
            left: 100px;
            z-index: 1;
            @media (max-width: $grid){
                top: 50px;
                left: 50px;
                transform: none;
                max-width: 100%;
                h2 {font-size: 28px;}
            }
            .Circle {
                z-index: -1;
                top: 0px;
                right: -100px;
                width: 200px;
                height: 200px;
                opacity: .9;
                mix-blend-mode: multiply;
            }
        }
        .Text--B {
            position: relative;
            max-width: 420px;
            top: 10%;
            left: 10%;
            transform: translate(50%, 25%);
            @media (max-width: $grid){
                top: 0px;
                left: 0px;
                transform: none;
                max-width: 100%;
                p {font-size: 21px;}
            }
        }
        .CTA--A {
            position: absolute;
            top: 75px;
            right: -150px;
            @media (max-width: $grid){
                position: relative;
            }
        }
        .CTA--B {
            position: absolute;
            top: 150px;
            right: -250px;
            @media (max-width: $grid){
                position: relative;
            }
        }
    }
}

.Quote {
    margin: 50px 0px 125px;
    .Block__Contents {
        max-width: 900px;
        font-size: 28px;
        h3 {
            position: relative;
            &:before {
                content: open-quote;
                display: block;
                position: absolute;
                top: -0px;
                left: -25px;
                font-family: 'sofia-pro', sans-serif;
                font-weight: 900;
                font-size: 42px;
                color: #ccc;
            }
            &:after {
                content: close-quote;
                display: block;
                position: absolute;
                bottom: -0px;
                right: -0px;
                font-family: 'sofia-pro', sans-serif;
                font-weight: 900;
                font-size: 42px;
                color: #ccc;
            }
        }
        .Attribution {
            font-size: .75em;
            font-style: italic;
            color: #ccc;
        }
    }
}

.Volunteers {
    margin: 75px 0px;
    img {
        margin-top: -100px;
        padding-right: 50px;
    }
    .Text {
        padding-left: 50px;
        margin-top: 100px;
    }
}

.Cities {
    margin: 125px 0px;
    img {
        margin-top: 100px;
        padding-left: 50px;
    }
    .Text {
        padding-right: 50px;
        margin-top: -50px;
    }
}

.CivicMethod {
    padding: 250px 25px;
    background-color: $yellow;
    .Block__Contents {
        justify-content: flex-start;
        .Grid__Column--50:nth-child(1){
            padding-right: 150px;
        }
        .Grid__Column--50:nth-child(2){
            padding-left: 50px;
        }
    }
    p { color: rgba(0,0,0,0.5);}
}

.DemoDay {
    max-width: 720px;
    margin: 0 auto;
    position: relative;
    button { margin: 50px 0px 100px; }
}

.Email {
}

.Footer {
    position: relative;
    background-color: $primary;
    h6 { color: $tertiary; }
}
